body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:500px;
  }

h2 {
    color: gray;
    font-weight: bold;
}

p { 
    color: gray;
}

.PersonalInformation {
    grid-column: 1/2;
    border-style: dotted;
}

.ExperienceInformation {
    grid-column: 2/3;
    overflow: auto;
    border-style: dotted;
    width:150px;
}