body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(105, 102, 102);
    height: 100vh;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:100%;
}

h2 {
    color: gray;
    font-weight: bold;
}

.personalInformation {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 50px;
    border-style: dotted;
}

.experienceInformation {
    grid-column: 2/3;
    grid-row: 1/2;
    overflow: auto;
    padding: 50px;
    border-style: dotted;
}

th {
    text-align: left;
}