body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gridContainer {
    display: grid;
    grid-template-columns: 50 50;
  }

h2 {
    color: gray;
    font-weight: bold;
}

p { 
    color: gray;
    width: 25px;
}

.PersonalInformation {
    border-style: solid;
}

.ExperienceInformation {
    float: right;
    width: 50%;
    overflow: auto;
    border-style: solid;
}